/* RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
  border: none;
}

input {
  border: none;
}


:root {
  --blue: #2F80ED;
  --white: #ffffff;
  --gray: #eeeeee;
  --black087: rgba(0,0,0,.87);
  --black054: rgba(0,0,0,.54);
  --alert: linear-gradient(0deg, #F44336, #F44336);

  --buttonHoverGray: linear-gradient(0deg, rgba(153, 153, 153, 0.38), rgba(153, 153, 153, 0.38)), rgba(255, 255, 255, 0.87);

  --font: 'Roboto', Verdana ,sans-serif;
  --textSize: 14px;
  --fontWeightRegural: 400;
  --fontWeightMedium: 500;
  --textOpacity: .25;

  --borderRadius: 2px;
}

* {
  box-sizing: border-box;
}

html {
  font-size: var(--textSize);
}

body {
  background-color: var(--gray);
  font-family: var(--font);
  color: var(--white);
  font-weight: var(--fontWeightMedium);
}

.container {
  padding: 0 6px;
  min-width: 320px;
  height: 100%;
  margin: 0 auto;
}

header {
  height: 60px;
  background: var(--blue)
}

.wrapper {
  height: 100%;
  display: flex;
} 

header .wrapper {
  display: flex;
  align-items: center;
} 

header button {
  padding: 0 34px 0 0;
  background: transparent;
}

header .title {
  font-size: 1.5rem;
  font-weight: var(--fontWeightMedium);
}

main {
  margin-top: 20px;
}

nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: var(--white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
}

nav .wrapper {
  justify-content: space-between;
  align-items: center;
}

nav a {
  position: relative;
  display: block
}

nav a.new:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: var(--alert);
}

nav a.active svg path{
  fill: var(--blue);
  fill-opacity: 1;
}

.auth {
  height: 100vh;
  padding-top: 71px;
  background: var(--blue);
}

.auth .form-group {
  position: relative;
  margin-bottom: 16px;
  padding-bottom: 8px;
}

.auth .form-group:nth-child(2) {
  margin-bottom: 40px;
}

.auth .form-group:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--white);
}

.auth input {
  height: 24px;
  color: var(--white);
  width: 100%;
  background: var(--blue);
  font-size: 16px;
}

.auth input:focus {
  outline-color: var(--white);
}

.auth input::-webkit-input-placeholder {
  color: var(--white);
  opacity: var(--textOpacity);
  font-size: 16px;
}

.auth .submit {
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  color: var(--blue);
  background-color: var(--white);
  text-transform: uppercase;
  border-radius: var(--borderRadius);
}

.auth .submit:active {
  background: var(--buttonHoverGray);
}

.auth .forgot-password {
  display: inline-block;
  margin-top: 28px;
  width: 100%;
  background-color: var(--blue);
  color: var(--white);
  opacity: var(--textOpacity);
}

.notifications .notification-card {
  display: flex;
  justify-content: space-between;
  padding: 16px 13px 20px 13px; 
  margin-bottom: 1px;
  background: var(--white);
  border-radius: var(--borderRadius);
  text-decoration: none;
} 

.notification-card h2 {
  margin-bottom: 6px;
  font-size: 16px;
  color: var(--black087);
}

.notification-card p {
  font-size: 14px;
  line-height: 1.4;
  color: var(--black054);
}

.notification-card .time {
  color: var(--black054);
}
.notifications .notification-card--new {
  background: linear-gradient(0deg, #CDE2FF, #CDE2FF);
}